/* CSS Document */

body{
}
.text{
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
font-weight:500;
text-align:left;
}

.text_headings{
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
text-align:center;

}

.header2{
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
font-weight:300;
}
.header3
{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
font-weight:450;
}
.genraltext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
font-weight:normal;
}
.table_text 
{
   font-family:"Times New Roman", Times, serif;
   font-size:13px;
   font-style:normal;
   
 }
 .table_header
 {
 font-family:"Times New Roman", Times, serif;
 font-size:13px;
 font-style:normal;
 font-weight:300;
 }
 .table_border
 {
 border-color:#666666;
 border-style:groove;

  }
  .table_width 
  {
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:450;
  height:18px;
  background-color:#CCCCCC;
  background-repeat:repeat-x;
  
  }
  
  .dimensions 
  {
  width:551px;
  height:222px;
  background-repeat:repeat;
  background-image:url(../module1/bg.jpg);
  overflow:auto;
  }
  .table_headings
  {
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  color:#000000;
  text-align:center;
  }

