
body{
background-color:#FFE7BF;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.text A:Link {
	color: #000000;	text-decoration: none;
}
.text A:Visited {
	color: #000000;	text-decoration: none;
}
.text A:Hover {
	color: #000000;	text-decoration: none;
}
.bigtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.textbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.heading1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.tableborder{
color:#000000;
}
.heading2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.blackline {
	border-bottom: 1px solid #000000;
	}
	
.number_link
	{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #000000;
text-decoration: none;
	}
	
.number_link a:hover
{
color:#FFCC66;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #000000;
text-decoration: none;

}
.number_link a:visited
{
color:#FFCC66;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #000000;
text-decoration: none;
}
	