
body{
background-color:#FFE7BF;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.text A:Link{
	color:#000000; text-decoration:underline;
	}
.text A:Visited{
	color:#000000; text-decoration:underline;
	}
.text A:Hover{
	color:#000000; text-decoration:underline;
	}
.bigtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.textbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.heading1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.heading2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.blackline {
	border-bottom: 1px solid #000000;
	}