/* CSS Document */

body{
}
.text{
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
font-weight:500;
}

.header2{
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
font-weight:300;
}
.header3
{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
font-weight:450;
}
.genraltext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
font-weight:normal;
}
.table_text 
{
   font-family:"Times New Roman", Times, serif;
   font-size:13px;
   font-style:normal;
   
 }
 .table_header
 {
 font-family:"Times New Roman", Times, serif;
 font-size:13px;
 font-style:normal;
 font-weight:300;
 }
 .table_border
 {
 border-color:#666666;
 border-style:groove;

  }
  .table_width 
  {
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:450;
  height:18px;
  background-color:#CCCCCC;
  background-repeat:repeat-x;
  
  }
  
  .dimensions 
  {
  width:551px;
  height:222px;
  background-repeat:repeat;
  background-image:url(bg.jpg);
  overflow:auto;
  }
.dimensions2
  {
  width:548px;
  height:104px;
  background-repeat:repeat;
  background-image:url(bg2.jpg);
  overflow:auto;
  }
  .dimensions3
  {
  width:519px;
  height:105px;
  background-repeat:repeat;
  background-image:url(bg2.jpg);
  overflow:auto;
  }
  .dimensions4
  {
  width:565px;
  height:438px;
  background-repeat:repeat;
  background-image:url(bg1.jpg);
  overflow:auto;
  }
.link2{
font:Arial, Helvetica, sans-serif;
font-weight:bolder;
}
